<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Make morx table</key>
	<true/>
	<key>ascender</key>
	<integer>700</integer>
	<key>capHeight</key>
	<integer>660</integer>
	<key>copyright</key>
	<string>Copyright (c) 2011-2015, Omnibus-Type (www.omnibus-type.com omnibus.type@gmail.com)</string>
	<key>descender</key>
	<integer>-180</integer>
	<key>familyName</key>
	<string>Sansita</string>
	<key>fsType</key>
	<array>
	</array>
	<key>italicAngle</key>
	<real>-11</real>
	<key>openTypeHeadCreated</key>
	<string>2015/01/28 14:54:37</string>
	<key>openTypeNameDesigner</key>
	<string>Pablo Cosgaya</string>
	<key>openTypeNameDesignerURL</key>
	<string>www.omnibus-type.com</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Omnibus-Type</string>
	<key>openTypeNameManufacturerURL</key>
	<string>www.omnibus-type.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Sansita</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Italic</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-200</integer>
		<integer>-180</integer>
		<integer>-22</integer>
		<integer>0</integer>
		<integer>510</integer>
		<integer>530</integer>
		<integer>660</integer>
		<integer>680</integer>
		<integer>700</integer>
		<integer>720</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
		<integer>0</integer>
		<integer>20</integer>
		<integer>510</integer>
		<integer>530</integer>
		<integer>660</integer>
		<integer>680</integer>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>80</integer>
		<integer>60</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>210</integer>
		<integer>197</integer>
		<integer>218</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>italic</string>
	<key>styleName</key>
	<string>Italic</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>vendorID</key>
	<string>OMNI</string>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>5</integer>
	<key>xHeight</key>
	<integer>510</integer>
</dict>
</plist>
