<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>-80</integer>
		<key>@MMK_R_y</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_f</key>
		<integer>-50</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-80</integer>
		<key>@MMK_R_s</key>
		<integer>-80</integer>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
		<key>@MMK_R_u</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>p</key>
		<integer>-50</integer>
		<key>r</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_asterisk</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>@MMK_R_period</key>
		<integer>-200</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>100</integer>
		<key>bracketright</key>
		<integer>80</integer>
		<key>exclam</key>
		<integer>100</integer>
		<key>parenright</key>
		<integer>80</integer>
		<key>question</key>
		<integer>150</integer>
	</dict>
	<key>@MMK_L_hyphen</key>
	<dict>
		<key>one</key>
		<integer>-140</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-90</integer>
		<key>@MMK_R_v</key>
		<integer>20</integer>
		<key>colon</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-70</integer>
		<key>question</key>
		<integer>30</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
	</dict>
	<key>Lslash</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-25</integer>
	</dict>
	<key>colon</key>
	<dict>
		<key>zero</key>
		<integer>30</integer>
	</dict>
</dict>
</plist>
